h1,h2 {
    /* background-color: aqua; */
    /* font-size: 100px; */
}

/* font styling */
p {
    /* font-style: oblique; */
    /* font-variant: small-caps; */
    /* font-weight: 500; */
    /* line-height: 50px; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font: italic small-caps bold 18px/15px arial serif; */
    /* text-align: justify; */
    /* text-indent: 50px; */
    /* text-transform: none; */
    /* letter-spacing: 10px; */
    /* word-spacing: 10px; */
}

/* text styling */
h2 {
    /* color: ; */
    /* text-decoration: line-through; */

}

a {
    /* text-decoration: none; */
}

body {
    /* background-color: white; */
    /* background-image: url(gambnar/moroccan-flower-dark.png);
    background-repeat: no-repeat;
    background-position: up; */
}

/* .text-atas {
    color: lightgreen;
}

.text-bawah {
    color: red;
}

#judul {
    color: indianred;
} */

/* ol li a{
    color: green;
    text-decoration: none;
}

h2.text-atas {
    background-color: red;
} */


/* pseudo class */
/* 
.sebuah:hover {
    color: red;
}

.sebuah:active {
    background-color: aquamarine;
}

li:nth-child(Odd) a {
    background-color: brown;
} */

/* body {
    color: green;
}

body a {
    color: inherit;
} */

/* #p1 {
    color: red;
}

p {
    color: green;
}


ul#sarapan li { 
    color: green;
}
/*
 ul li 2
 #sarapan 100
 102
 */

/* ul#sarapan li.favorit {
    color: red;
} */ 

/* 
ul li 2
.favorit 10
#sarapann 100
112
*/ 


/* h1,h2 li,ul {
    1
}

#adjs #sand {
 100
}